.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
}

.centered-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

#symbols {
  display: block;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.symbol-container {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #fa3c00;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.face-down {
  background-color: #fa3c00;
  cursor: pointer;
}

.symbol {
  /* display: inline-block; */
}

img.symbol {
  display: inline-block;
  height: 70px;
  width: 70px;
  vertical-align: middle;
}

/* unit tests, you win message/popup, new game button, image icons */

.attribution {
  display: block;
  margin-bottom: 8px;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
}
