:root {
  --rowNum: 4;
  --colNum: 4;
  /* --background-color: white; */
  --background-color: #272822;
  /* --accent-color: gray;; */
  --accent-color: #66D9EF;
  --container-size-vw: 80px;
  --container-size-vh: 80px;
  --font-size-vw: 42px;
  --font-size-vh: 42px;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background-color);
  display: grid;  
}

#symbols {
  display: grid;
  align-self: center;
  justify-self: center;
  grid-template-rows: repeat(var(--rowNum), var(--container-size-vw));
  grid-template-columns: repeat(var(--colNum), var(--container-size-vw));
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.symbol-container {
  width: var(--container-size-vw);
  height: var(--container-size-vw);
  line-height: var(--container-size-vw);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  text-align: center;
  background-color: var(--background-color);
}

.face-down {
  background-color: var(--accent-color);
  cursor: pointer;
}

.symbol {
  color: var(--accent-color);
  font-size: var(--font-size-vw);
}

@media screen and (min-width: 100vh) {
  .symbol-container {
    width: var(--container-size-vh);
    height: var(--container-size-vh);
    line-height: var(--container-size-vh);
  }

  .symbol {
    font-size: var(--font-size-vh);
  }
}
 