* {
  padding: 0;
  margin: 0;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
}

.centered-container {
  position: relative;
  margin: 0 auto;
  text-align: center; 
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card-container {
  margin: 0.5vw;
  display: inline-block;
  vertical-align: top;
  width: 20vw;
  height: 20vw;
  line-height: 20vw;
  border: 2px solid #fa3c00;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}

.face-down {
  background-color: #fa3c00;
  cursor: pointer;
}

img.card {
  display: inline-block;
  height: 18vw;
  width: 18vw;
  vertical-align: middle;
}

.face-down img {
  display: none;
}

@media(min-width: 100vh) {
  .card-container {
    margin: 0.5vh;
    width: 20vh;
    height: 20vh;
    line-height: 20vh;
  }
  
  img.card {
    height: 18vh;
    width: 18vh;
  }
}

.author-credit {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 9px;
  line-height: 20px;
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
}

.title {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 42px;
  color: #444444;
  font-family: 'pocket_monkregular', Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.win-message {
  position: absolute;
  border: 2px solid #444444;
  border-radius: 5px;
  background-color: #fa3c00;
  color: white;
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  height: 200px;
  line-height: 150px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -75px;
}

#new-game-button {
  cursor: pointer;
  position: absolute;
  background-color: white;
  border: 2px solid #444444;
  border-radius: 5px;
  color: #444444;
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  height: 50px;
  line-height: 50px;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  top: 50%;
  margin-top: 50px;
}
