.red {
    background-color: #FF0000;
}
.orange {
    background-color: #FF7400;
}
.yellow {
    background-color: #FFE900;
}
.green {
    background-color: #00FF00;
}
.blue {
    background-color: #00FFFF;
}
.purple {
    background-color: #5709B8;
}

.token {
    height: 10vmin;
    width: 10vmin;
    border-radius: 10vmin;
    margin: 1vmin;
    display: inline-block;
}
