body {
  /* font-display: swap; */
  /* font-family: 'Noto Sans', sans-serif, system-ui; */
  font-family: noto-sans, sans-serif, system-ui;
  font-optical-sizing: auto;
  /* font-size-adjust: 0.451; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* font-style: normal; */
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
