.about-section {
  /* background-color: var(--about-section-color); */
  grid-area: about;
}

.hobby {
  text-transform: lowercase;
}

.hobby + .hobby::before {
  content: ', ';
}
.hobby:last-of-type::before {
  content: ', or ';
}

/* :root { */
/* --about-section-image-width: 10rem; */
/* image aspect ratio 4:5 */
/* --about-section-image-height: calc(var(--about-section-image-width) * 1.25); */
/* --rx: calc(var(--about-section-image-width) / 2); */
/* --ry: calc(var(--about-section-image-height) / 2); */
/* } */

/* .about-section .image {
  border-radius: 50%;
  height: auto;
  position: relative;
  width: var(--about-section-image-width);
  z-index: 33;
} */

/* .text-path-left {
  --polygon: ellipse(var(--rx) var(--ry) at right center);
  float: right;
}
.text-path-right {
  --polygon: ellipse(var(--rx) var(--ry) at left center);
  float: left;
}
.text-path-left,
.text-path-right {
  clip-path: var(--polygon);
  height: var(--about-section-image-height);
  shape-outside: var(--polygon);
  width: var(--rx);
  z-index: -1;
} */

/* .section-subtitle {
  padding: 1rem 0;
} */

/* .about-section-title {
  grid-area: about-title;
}
.about-section-content {
  grid-area: about-content;
}
.about-section-aside {
  grid-area: about-aside;
}
.about-section-photo {
  grid-area: about-photo;
  margin-left: -50%;
  margin-right: -50%;
} */

/* @media screen and (min-width: 600px) {
  .about-section {
    column-gap: 2rem;
    display: grid;
    grid-template-areas:
      'about-title    about-title   about-title'
      'about-content  about-photo   about-aside';
    grid-template-columns: 1fr 0 1fr;
  }
  .section-subtitle {
    padding: 0 0 1rem 0;
  }
} */
