:root {
  --padding: 1.5rem;
  --padding-offset: calc(var(--padding) * -1);

  --padding-x2: calc(var(--padding) * 2);
  --padding-half: calc(var(--padding) / 2);
  --padding-xl: 6rem;

  --icon-size: 2rem;
  --icon-padding: calc(var(--padding) / 3);
  --icon-link-padding: calc(var(--padding) / 4);
  --icon-label-gap: 10px;

  --icon-size-inner: calc(var(--icon-size) * 0.7);
  --icon-alt-padding: calc((var(--icon-size) - var(--icon-size-inner)) / 2);

  --border-radius: 8px;
}

.body,
.app,
.header,
.main,
.footer {
  box-sizing: border-box;
}

.body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
}

.footer {
  font-size: var(--padding-half);
  font-weight: 300;
  grid-area: footer;
  padding: var(--padding-half);
  text-align: center;
}

.theme-toggle {
  cursor: pointer;
  user-select: none;
}

.section {
  box-sizing: border-box;
  padding-bottom: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  scroll-margin-top: var(--header-height);
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 0;
  padding: 1.75rem 0 1rem 0;
  text-align: center;
  width: 100%;
}

.paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.382;
  margin: 0 0 1rem 0;
}

.skip-to-content {
  height: 0;
  position: absolute;
  width: 0;
}

/* switch to split-screen layout */
@media screen and (min-width: 1200px) {
  .app {
    flex-direction: row;
    justify-content: center;
    margin: 0 var(--padding);
    max-width: 74rem;
  }
  .header {
    max-height: 100vh;
    max-width: 30rem;
    padding: var(--padding-xl) var(--padding);
    position: sticky;
    top: 0;
    width: 38.2%;
  }
  .main {
    max-width: 125rem;
    padding: var(--padding-xl) 0 0 0;
    width: 61.8%;
  }
  .footer {
    padding-bottom: var(--padding-xl);
    padding-top: var(--padding-xl);
  }
  .section {
    background-color: var(--theme-color);
  }
  .section:not(.projects-section) {
    scroll-margin-top: 0;
  }

  .projects-section {
    scroll-margin-top: var(--padding-xl);
  }
}
