body {
  font-display: optional;
  font-family: 'Open Sans';
  font-optical-sizing: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.body {
  --height: calc(var(--icon-size) + (2 * var(--page-margin)));
  grid-template-rows: var(--height) 1fr var(--height);
}

.header,
.main,
.footer {
  padding: var(--page-margin);
}

.header,
.footer {
  display: grid;
}

.body,
.header,
.main,
.footer {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid var(--cyan);
  position: sticky;
  top: 0;
}
.footer {
  border-top: 1px solid var(--yellow);
}
.header,
.footer {
  background-color: var(--header-footer-color);
  z-index: 100;
}
.main {
  display: flex;
  flex-direction: column;
}
.title {
  fill: var(--color);
  height: 56px;
  margin-bottom: 12px;
  margin-top: 32px;
}
.subtitle {
  fill: var(--magenta);
  height: 44px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.copyright {
  align-self: center;
  color: var(--color);
  font-weight: 300;
  text-align: center;
  white-space: nowrap;
}

.title-block {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: var(--page-margin);
}

.copyright {
  align-items: center;
  color: var(--color);
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.copyright svg {
  fill: var(--color);
  height: 16px;
  width: 16px;
}
