:root {
  --padding: 1.5rem;

  --padding-x2: calc(var(--padding) * 2);
  --padding-half: calc(var(--padding) / 2);

  --scroll-margin: 1.5rem;

  --icon-size: 2rem;
  --icon-padding: calc(var(--padding) / 3);
  --icon-link-padding: calc(var(--padding) / 4);
  --icon-label-gap: 10px;

  --icon-size-inner: calc(var(--icon-size) * 0.7);
  --icon-alt-padding: calc((var(--icon-size) - var(--icon-size-inner)) / 2);
}

.body,
.app,
.header,
.main,
.footer {
  box-sizing: border-box;
}

.body {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: var(--scroll-margin);
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  margin: 0;
  padding: 0 0 1rem 0;
  text-align: center;
  width: 100%;
}

.paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.skip-to-content {
  height: 0;
  position: absolute;
  width: 0;
}

/* single column layout */
@media screen and (max-width: 1199px) {
  /* --theme-color-dark and --theme-color-light are used to set the html background-color */
  :root {
    --theme-color-dark: var(--oxford-blue);
    --theme-color-light: var(--ultra-violet);
  }
  .section {
    background-color: var(--theme-color-const);
  }
  .show-for-mobile {
    display: flex;
    justify-content: center;
    margin-bottom: var(--padding-half);
  }
}

/* split-screen layout */
@media screen and (min-width: 1200px) {
  :root {
    --scroll-margin: 6rem;
  }
  .app {
    flex-direction: row;
    justify-content: center;
    margin: 0 var(--padding);
    max-width: 74rem;
  }
  .header {
    max-height: 100vh;
    max-width: 30rem;
    padding: var(--scroll-margin) var(--padding);
    position: sticky;
    top: 0;
    width: 38.2%;
  }
  .main {
    max-width: 125rem;
    width: 61.8%;
  }

  .section {
    background-color: var(--theme-color);
  }

  .section-title:not(.contact-section-title) {
    display: none;
  }

  .show-for-mobile {
    display: none;
  }
}
