body {
  /* font-display: swap; */
  font-family: 'Noto Sans', 'Open Sans', sans-serif, system-ui;
  font-optical-sizing: auto;
  /* font-size-adjust: 0.2; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.body {
  --height: calc(var(--icon-size) + (2 * var(--page-margin)));

  grid-template-rows: var(--height) 1fr var(--height);
}

.main,
.footer,
.title-block {
  padding: var(--page-margin);
}
.title-block {
  padding-bottom: 0px;
}

.header,
.footer {
  display: grid;
}

.body,
.header,
.main,
.footer {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid var(--cyan);
  position: sticky;
  top: 0;
}
.footer {
  border-top: 1px solid var(--yellow);
}
.header,
.footer {
  background-color: var(--header-footer-color);
  z-index: 100;
}
.main {
  align-items: start;
  display: grid;
  grid-auto-rows: min-content 1fr;
}

.title {
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.title svg {
  fill: var(--color);
  height: 58px;
}

.subtitle {
  column-gap: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}
.subtitle svg {
  fill: var(--magenta);
  height: 46px;
}

.copyright {
  align-items: center;
  color: var(--color);
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
.copyright svg {
  fill: var(--color);
  height: 16px;
  width: 16px;
}
