.blog-card-grid {
  display: grid;
  gap: calc(var(--grid-gap) * 0.65);
  grid-template-columns: repeat(auto-fit, calc(var(--card-width) * 0.65));
  justify-content: center;
}

.blog-card {
  aspect-ratio: 1;
  background-color: red;
  border-radius: var(--card-radius);
}
