/* dark mode (default) */
.theme {
  --skills-border-color: rgba(var(--tag-text-rgb), 0.3);
  --skills-background-color: transparent;
}
/* light mode */
html[data-theme='light'],
#theme-toggle:checked ~ .theme {
  --skills-border-color: var(--platinum);
  --skills-background-color: rgba(254, 254, 251, 0.4);
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.blog-item {
  background-color: var(--skills-background-color);
  border: 2px dotted var(--skills-border-color);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
}

.blog-title {
  flex-grow: 1;
  font-size: 1.5em;
  margin: 0;
}

.blog-date {
  font-size: 1.2em;
  margin-bottom: 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.blog-tag {
  align-items: center;
  background-color: var(--tag-color);
  border-radius: 0.875rem;
  color: var(--tag-text-color);
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  gap: 4px;
  justify-content: flex-start;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
  position: relative;
  transform-style: preserve-3d;
}
.blog-tag::before {
  background-color: var(--tag-backdrop-color);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(-1px);
}
