html {
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
}

html,
body,
.body,
.app,
#root {
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::before,
::after {
  box-sizing: inherit;
}
