:root {
  --menu-height: calc(var(--nav-link-height) * 3);
}

.header-nav {
  display: flex;
  gap: 0.125rem;
  grid-area: header-nav;
  position: relative;
  width: 100%;
}

.nav-container {
  backdrop-filter: blur(10px);
  background-color: var(--menu-background-color);
  color: var(--text-color-emphasis);
  display: flex;
  flex-direction: column;
  height: var(--collapsible-nav-height);
  margin-top: -1px;
  overflow: hidden;
  position: var(--position-nav);
  transition: height 0.2s linear;
  width: 100%;
  z-index: 10;
}

.nav-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  height: var(--nav-link-height);
  justify-content: center;
  letter-spacing: 0.05rem;
  line-height: var(--line-height-normal);
  padding: var(--padding);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  user-select: none;
  visibility: var(--menu-visibility);
}

@media screen and (min-width: 400px) {
  :root {
    --menu-height: var(--nav-link-height);
  }

  .nav-container {
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .nav-link:hover {
    background-color: var(--menu-background-color-hover);
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    flex-direction: column;
    margin-top: var(--padding-x2);
    max-width: 16rem;
  }

  .nav-container {
    background-color: unset;
    flex-direction: column;
    gap: 0.5rem;
    height: unset;
    padding: 0.25rem;
  }

  .nav-link {
    --pad: calc(var(--padding-half) - 0.25rem);
    color: var(--text-color-emphasis);
    justify-content: flex-start;
    letter-spacing: 0.1rem;
    opacity: 0.7;
    padding: var(--padding-half) var(--padding-half) var(--padding-half) 0;
    padding: var(--pad) var(--pad) var(--pad) 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  .nav-link:hover,
  .nav-link.active {
    font-weight: 600;
    opacity: 1;
    text-decoration: none;
  }

  .nav-link:focus-visible {
    opacity: 1;
  }

  .nav-link-indicator {
    background-color: var(--text-color-emphasis);
    height: 1px;
    opacity: inherit;
    width: 4rem;
  }

  .nav-link-text {
    background-color: var(--theme-color-const);
    padding-left: 1rem;
    transform: translateX(-1.5rem);
    transform-origin: left;
    transition: transform 0.15s linear;
  }

  .nav-link:hover .nav-link-text,
  .nav-link.active .nav-link-text {
    transform: translateX(0);
  }
}
