/* TODO */
/* show header on scroll */
/* ignore no js case, it will still be at the top of the page */
/* make sure it's still at the top of the page for the no js case */

:root {
  --position-nav: absolute;
  --line-height-normal: 1.21875;
}

.header {
  background-color: var(--theme-color);
  display: grid;
  grid-template-areas:
    'header-title header-title'
    'menu-toggle header-icons'
    'header-nav header-nav';
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  user-select: none;
  width: 100%;
  z-index: 10;
}

.header-icons {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  grid-area: header-icons;
}
.header-icons .social-icons {
  display: none;
}

.header-title {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  gap: 0.25rem;
  grid-area: header-title;
  justify-content: center;
  line-height: var(--line-height-normal);
  padding: var(--padding) var(--padding) 0.5rem var(--padding);
  position: relative;
  text-transform: capitalize;
}

.header-title-link {
  color: var(--text-color-dark);
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.job-title {
  color: var(--text-color-dark);
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: var(--line-height-normal);
  margin: 0;
  white-space: nowrap;
}

.name {
  display: flex;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: var(--line-height-normal);
  margin: 0;
  white-space: nowrap;
}
.name::after {
  color: var(--text-color-dark);
  content: '|';
  font-weight: 400;
  padding-left: 0.25rem;
}

.header {
  align-items: center;
  grid-template-areas:
    'header-title menu-toggle header-icons'
    'header-nav header-nav header-nav';
  grid-template-columns: 1fr min-content min-content;
}

.header-icons {
  padding-right: calc(var(--padding) - var(--icon-padding));
}

.header-title {
  align-items: flex-start;
  flex-direction: column;
  padding: var(--padding);
}

.name::after {
  content: none;
}

@media screen and (min-width: 600px) {
  .header {
    grid-template-columns: 1fr min-content; /* ? there are still three columns */
  }

  .header-icons {
    padding-right: var(--padding);
  }

  .header-title {
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  .job-title {
    font-size: 1.125rem;
  }

  .name {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .name::after {
    content: '|';
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --heading-font-size-1: 3.875rem;
    --heading-font-size-2: calc(var(--heading-font-size-1) * 0.55);
    /* for larger screens, menu is visible and menu button is hidden */
    --position-nav: relative;
  }

  .header {
    align-items: end;
    grid-template-areas:
      'header-title'
      'header-nav'
      'header-icons';
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
  }

  .header-icons {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .header-icons .social-icons {
    display: inherit;
  }

  .header-title {
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
  }

  .header-title-link {
    color: var(--text-color);
  }

  .job-title {
    color: var(--text-color);
    font-size: var(--heading-font-size-2);
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 0.75;
  }

  .name {
    font-size: var(--heading-font-size-1);
    font-weight: 700;
    letter-spacing: -0.025rem;
    line-height: 0.75;
    margin-bottom: var(--heading-font-size-2);
    margin-top: 0.5rem;
  }

  .name::after {
    content: none;
  }
}
