.h1,
.h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.h1 {
  column-gap: 16px;
}
.h1 svg {
  fill: var(--text-color);
  height: 58px;
}

.h2 {
  column-gap: 6px;
}
.h2 svg {
  fill: var(--magenta);
  height: 46px;
}
