.header {
  gap: 16px;
  grid-template-columns: repeat(auto-fit, var(--icon-size));
  justify-content: end;
}

.theme-icon-placeholder {
  z-index: -1;
}

@media screen and (width <= 600px) {
  .header {
    justify-content: space-between;
  }
}
