.header {
  align-items: center;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 60px);
  justify-content: end;
  justify-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (width <= 600px) {
  .header {
    justify-content: space-between;
  }
}

.header-item {
  align-content: center;
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.header-item,
.icon {
  overflow: visible; /* our view boxes have no external white space */
}

.icon {
  box-sizing: border-box;
  color: var(--text-color);
  height: 28px;
  width: 28px;
}
.icon:focus {
  outline: none;
}

.header-item:hover .icon {
  fill: var(--cyan);
  /* filter: drop-shadow(0 0 0.75px var(--yellow)); */
  stroke: var(--magenta);
}

.theme-toggle-label {
  z-index: 300;
}

.theme-toggle-label > .icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
