/* menu is closed by default */
:root {
  --menu-transform: translateX(0);
}
/* menu is open */
#menu-button:checked ~ .menu {
  --menu-transform: translateX(3rem);
}

.menu-button {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: flex-start;
  min-width: 6rem;
  padding: var(--icon-padding);
  position: relative;
  transform-style: preserve-3d;
}
.menu-button::before,
.menu-button::after {
  align-items: center;
  background-color: var(--backdrop-color);
  border: 1px solid var(--tag-text-color);
  border-radius: var(--icon-size);
  bottom: 0;
  content: 'Menu';
  display: flex;
  justify-content: center;
  left: 0;
  margin: calc(var(--icon-padding) / 2);
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(-1px);
}
.menu-button::before {
  opacity: var(--opacity-closed);
  padding-right: var(--icon-size);
}
.menu-button::after {
  opacity: var(--opacity-open);
  padding-left: var(--icon-size);
}

.menu-toggle {
  aspect-ratio: 1;
  background-color: var(--text-color);
  border-radius: 50%;
  height: var(--icon-size);
  transform: var(--menu-transform);
  transition: transform 0.2s ease-in-out;
  width: var(--icon-size);
}

.menu-button:hover .menu-toggle {
  transform: var(--menu-transform) scale(1.15);
}

/* for larger screens, menu is visible and menu button is hidden */
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}
