.menu-toggle {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  grid-area: menu-toggle;
  height: var(--icon-height);
  padding: var(--icon-padding);
}
.menu-toggle .menu-toggle-icon {
  border-radius: inherit;
  display: flex;
  height: var(--icon-size);
  position: relative;
  width: var(--icon-size);
}
.menu-toggle-icon::before {
  background-color: var(--button-background-color);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s linear;
  z-index: -1;
}
.menu-toggle:hover .menu-toggle-icon::before {
  opacity: 1;
}

.font-icon.icon-menu::before {
  color: var(--text-color-emphasis-dark);
}

/* for larger screens, menu is visible and menu button is hidden */
@media screen and (min-width: 1200px) {
  #menu-toggle-label {
    display: none;
  }
}
