/* .menu {
}
#menu-toggle:checked ~ .menu {
} */

.menu-toggle {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  grid-area: menu-toggle;
  height: var(--icon-height);
  justify-content: flex-start;
  padding: var(--icon-padding);
  position: relative;
  transform-style: preserve-3d;
}

.menu-toggle-icon::before,
.menu-toggle-icon::after {
  background-color: var(--canary);
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9);
  transition: box-shadow 0.3s linear;
  z-index: -1;
}

.menu-toggle:hover .icon-menu {
  color: var(--canary);
  text-shadow: 0 0 5px var(--canary);
}
.menu-toggle:hover .menu-toggle-icon::before {
  box-shadow: 0 0 5px var(--canary);
  transform: scale(1.1);
}
.menu-toggle:hover .menu-toggle-icon::after {
  box-shadow: 0 0 12px var(--canary);
  transform: scale(1.1);
}
.menu-toggle:hover .menu-toggle-inset {
  box-shadow: inset 0 0 5px var(--canary);
}
.menu-toggle:hover .icon-menu::before {
  color: var(--canary);
  text-shadow: 0 0 5px var(--canary);
}

@media screen and (max-width: 399px) {
  .menu-toggle {
    justify-self: end;
    /* margin-bottom: 1.25rem; */
    /* margin-top: 0.75rem; */
  }
}

/* for larger screens, menu is visible and menu button is hidden */
@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
