.project-link {
  --hover-size: calc(1rem + var(--link-padding));
  --translate: calc((var(--link-padding) / 2) * -1);
  align-items: center;
  border-radius: 1rem;
  box-sizing: content-box;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 5px;
  height: 1rem;
  padding: var(--link-padding);
  position: relative;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.project-link:hover {
  background-color: var(--text-color-overlay);
}

.project-link .icon {
  height: 1rem;
  padding: 0;
  width: 1rem;
}
