.project-links {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 var(--padding-half) var(--padding-half) var(--padding-half);
}

.project-links-section {
  width: 100%;
}

.project-links-section.placeholder {
  position: relative;
  transition: none;
  user-select: none;
  visibility: hidden;
  z-index: -1;
}

.project-links-section:not(.placeholder) {
  bottom: 0;
  position: absolute;
}
