:root {
  --frame-height: 156;
}

.frame {
  align-self: flex-start;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  position: relative;
}

.image-container {
  align-items: flex-start;
  background-color: white;
  border-radius: 1px;
  box-sizing: border-box;
  display: flex;
  padding: 2px;
  position: relative;
  width: 100%;
}

.image-container * {
  aspect-ratio: inherit;
  display: flex;
  height: calc(var(--frame-height) * 1px);
  position: absolute;
}

.image-desktop,
img.desktop {
  aspect-ratio: 576 / 400;
}
.image-tablet,
img.tablet {
  aspect-ratio: 306 / 408;
}
.image-mobile,
img.mobile {
  aspect-ratio: 144 / 256;
}

.image-dark {
  display: var(--display-image-dark);
}
.image-light {
  display: var(--display-image-light);
}

html:not(.noscript) .image-lazy img:not(.dev) {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-desktop,
.image-tablet,
.image-mobile {
  opacity: 0;
  z-index: -1;
}
@media screen and (min-width: 801px) {
  .image-desktop {
    opacity: 1;
    position: relative;
    z-index: unset;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .image-tablet {
    opacity: 1;
    position: relative;
    z-index: unset;
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  .image-mobile {
    opacity: 1;
    position: relative;
    z-index: unset;
  }
}
@media screen and (max-width: 500px) {
  img {
    height: unset;
    max-height: calc(var(--frame-height) * 1px);
    max-width: 100%;
  }
}
@media screen and (min-width: 370px) and (max-width: 500px) {
  .image-desktop {
    opacity: 1;
    position: relative;
    z-index: unset;
  }
}
@media screen and (max-width: 369px) {
  .image-tablet {
    opacity: 1;
    position: relative;
    z-index: unset;
  }
}
