.card-grid {
  --min-column-width: calc(
    var(--min-page-width) - (4 * var(--page-margin))
  ); /* 236px */
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  max-width: 700px;
  padding: var(--page-margin);
}

.card {
  background-color: var(--card-color);
  border-radius: 12px;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  gap: 28px;
  padding: 28px;
  position: relative;
  text-decoration: none;
  transform-style: preserve-3d;
}
.card::after {
  background: linear-gradient(
    123deg,
    var(--yellow),
    var(--magenta) 50%,
    var(--cyan)
  );
  background-clip: content-box;
  border-radius: inherit;
  bottom: 0;
  box-sizing: border-box;
  content: '';
  display: flex;
  left: 0;
  overflow: hidden;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateZ(-1px);
  transition: filter 0.3s ease;
}
.card:hover::after {
  filter: blur(15px);
}
@media screen and (max-width: 500px) {
  .card {
    align-items: center;
    flex-direction: column;
  }
  .card .frame {
    align-self: center;
  }
  .card .card-contents {
    align-self: stretch;
  }
}

.card-title {
  margin-bottom: 0;
  margin-top: 0;
}

.card-description {
  margin-bottom: 8px;
  margin-top: 8px;
  opacity: 0.85;
}

.card-date {
  opacity: 0.75;
}
