.card-grid {
  --min-column-width: calc(
    var(--min-page-width) - (4 * var(--page-margin))
  ); /* 236px */

  display: grid;
  gap: 16px;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));
  margin-bottom: 16px;
  padding: var(--page-margin);
}

.card {
  background-color: var(--card-color);
  border-radius: 12px;
  color: var(--color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 28px;
  text-decoration: none;
}
.card:hover {
  box-shadow:
    -1px -1px 4px var(--yellow),
    1px 1px 4px var(--cyan);
}

.card-title {
  margin-bottom: 0;
  margin-top: 0;
}
.card-description {
  margin-bottom: 8px;
  margin-top: 8px;
  opacity: 0.85;
}
.card-date {
  opacity: 0.75;
}
