.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  margin: 0.5rem var(--padding-half) var(--padding-half) var(--padding-half);
}

.project-skill-tag {
  background-color: var(--theme-color-overlay);
  background-color: var(--tag-color);
  border-radius: 0.875rem;
  color: var(--tag-text-color);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
}

.project-skill-tag .collapsible {
  white-space: nowrap;
}

@media screen and (max-width: 360px) {
  .project-skill-tag .collapsible .collapse {
    display: none;
  }
}
