:root {
  --frame-height: 156;
}

.project-images {
  align-self: flex-start;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-shrink: 0;
  padding: 5px;
  position: relative;
}

.image-container {
  align-items: flex-start;
  background-color: white;
  border-radius: 1px;
  box-sizing: border-box;
  display: flex;
  padding: 2px;
  position: relative;
  width: 100%;
}

.project-images img {
  display: none;
  height: calc(var(--frame-height) * 1px);
}
.project-images img.desktop {
  aspect-ratio: 576 / 400;
}
.project-images img.tablet {
  aspect-ratio: 306 / 408;
}
.project-images img.mobile {
  aspect-ratio: 144 / 256;
}

@media screen and (min-width: 801px) {
  .project-images img.dark.desktop {
    display: var(--display-image-dark);
  }
  .project-images img.light.desktop {
    display: var(--display-image-light);
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  .project-images img.dark.tablet {
    display: var(--display-image-dark);
  }
  .project-images img.light.tablet {
    display: var(--display-image-light);
  }
}
@media screen and (min-width: 501px) and (max-width: 600px) {
  .project-images img.dark.mobile {
    display: var(--display-image-dark);
  }
  .project-images img.light.mobile {
    display: var(--display-image-light);
  }
}
@media screen and (max-width: 500px) {
  :root {
    --frame-height: 200;
  }
  .project-images img.dark.desktop {
    display: var(--display-image-dark);
  }
  .project-images img.light.desktop {
    display: var(--display-image-light);
  }
  .project-images img {
    height: unset;
    max-height: calc(var(--frame-height) * 1px);
    max-width: 100%;
  }
}
