.project {
  --project-color: var(--contrast-color);
}

.project-color {
  background-color: var(--project-color);
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.project-color.guess-the-word {
  --project-color: #880088;
}
.project-color.cckb {
  --project-color: #019934;
}
.project-color.map-slicer {
  --project-color: #5188ad;
}
.project-color.pokematch {
  --project-color: #ffde00;
}
.project-color.repos.dark {
  --project-color: #0f1214;
}
.project-color.web-colors {
  --project-color: #e94024;
}

.project-color.repos.light {
  --project-color: #ffffff;
}
