.project-link {
  align-items: center;
  border-radius: 1.75rem;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  gap: 5px;
  height: 1.75rem;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}
.project-link:hover {
  background-color: var(--text-color-overlay);
}

.project-link.placeholder {
  transition: none;
  user-select: none;
  visibility: hidden;
  z-index: -1;
}

.project-link:not(.placeholder) {
  bottom: 0;
  justify-self: center;
  margin: var(--content-padding);
  position: absolute;
  z-index: 50;
}

.project-link .icon {
  height: 1rem;
  padding: 0;
  width: 1rem;
}
