.projects-section {
  --card-width: 20.875rem;
  --card-height: 25rem;
  --project-color: var(--contrast-color);
  --project-image-transition: transform 0.3s ease-in-out;
  --content-padding: 1rem;
}

.projects-section {
  align-items: center;
}

.projects-section,
.projects-section * {
  flex-shrink: 0;
}

.projects-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, var(--card-width));
  justify-items: center;
}
@media screen and (max-width: 720px) {
  .projects-grid {
    grid-template-columns: repeat(1, var(--card-width));
  }
}

.project-card {
  aspect-ratio: 0.75;
  background-color: var(--contrast-color);
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: var(--card-height);
  position: relative;
  width: var(--card-width);
}

.project-card-link {
  background-color: inherit;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.project-image-container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  cursor: pointer;
  height: calc(0.382 * var(--card-height));
  overflow: hidden;
  position: relative;
  width: 100%;
}

.project-image {
  background-color: var(--project-color);
  border-radius: inherit;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: top center;
  transition: var(--project-image-transition);
  width: 100%;
  z-index: 20;
}

.project-image-container:hover .project-image {
  transform: scale(1.1);
}

.project-color {
  background-color: var(--project-color);
  border-radius: inherit;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

html:not(.noscript) .project-image {
  opacity: 1;
  transition:
    opacity 0.4s var(--ease),
    var(--project-image-transition);
}
html:not(.noscript) .project-image.hide {
  opacity: 0;
}

html:not(.noscript) .project-image ~ .project-color {
  inset: 0;
  transition: inset 0.4s var(--ease);
}
html:not(.noscript) .project-image:not(.hide) ~ .project-color {
  inset: 1px;
}

.project-content {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--content-padding);
  z-index: 30;
}

.project-header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: calc(var(--content-padding) / 2);
}

.project-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.project-date {
  font-size: 0.875rem;
  font-weight: 200;
  opacity: 0.8;
  white-space: nowrap;
}

.project-description {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.85;
}

.project-tag {
  align-self: start;
  background-color: var(--tag-color);
  border-radius: 0.875rem;
  box-sizing: content-box;
  color: var(--tag-text-color);
  flex-grow: 0;
  font-size: 0.875rem;
  font-weight: 500;
  height: 0.875rem;
  letter-spacing: 0.5px;
  line-height: 0.875rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

a.project-card-link:-webkit-any-link:focus-visible {
  outline-offset: 3px;
}
