.skills-section {
  background-color: var(--skills-section-color);
}

.skills-section .section-subtitle {
  padding: 1.25rem 0 0.5rem 0;
}

.skills-section .project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  /* gap: 0.5rem; */
}

.skills-section .project-skill-tag {
  /* background-color: var(--theme-color-overlay); */
  border: 0.5px solid var(--text-color-overlay);
  border-radius: 4px;
  /* color: var(--tag-text-color); */
  flex-grow: 1;
  font-size: 0.875rem;
  font-weight: 400;
  /* line-height: 1.25rem; */
  padding: 0.25rem 0.5rem;
  /* padding: 0 5px 0 0; */
  text-align: center;
}
