.icon-link {
  border-radius: 50%;
  display: flex;
  transition: background-color 0.2s ease-in-out;
}
.icon-link:hover {
  background-color: var(--text-color-overlay);
}

.icon-set {
  display: flex;
}
