:root {
  --page-margin: 16px;
  --icon-size: 28px;

  --color: #202127;
  --bg-color: #d7dadc;
  --card-color: #ffffff;
  --header-footer-color: #a1a5a7;
  --cyan: #00ffff; /* #00b2b2; */
  --magenta: #b200b2;
  --yellow: #ffff00; /* #b2b200; */

  --dark-color: var(--bg-color);
  --dark-bg-color: var(--color);
  --dark-card-color: #2e2e33;
  --dark-header-footer-color: #16181d;
  --dark-cyan: #00ffff;
  --dark-magenta: #ff00ff;
  --dark-yellow: #ffff00;
}

#theme-toggle {
  display: none;
  margin: 0;
  padding: 0;
}

#theme-toggle:checked ~ .theme-container {
  --color: var(--dark-color);
  --bg-color: var(--dark-bg-color);
  --card-color: var(--dark-card-color);
  --header-footer-color: var(--dark-header-footer-color);
  --cyan: var(--dark-cyan);
  --magenta: var(--dark-magenta);
  --yellow: var(--dark-yellow);
}

.theme-container {
  background-color: var(--bg-color);
}

.theme-container,
.header,
.footer,
.card,
#sun,
#moon,
.theme-toggle-label {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
.theme-container,
.header,
.footer,
.card {
  transition-property: background-color;
}
#sun,
#moon,
.theme-toggle-label {
  transition-property: transform, opacity;
}

/* @media (prefers-reduced-motion) {
  .theme-container,
  .header,
  .footer,
  .card,
  #sun,
  #moon,
  .theme-toggle-label {
    transition: none;
  }
} */

#sun {
  opacity: 1;
  transform: rotate(45deg);
}
#theme-toggle:checked ~ .theme-container #sun {
  opacity: 0;
  transform: rotate(-360deg);
}

#moon {
  opacity: 0;
  transform: rotate(45deg);
}
#theme-toggle:checked ~ .theme-container #moon {
  opacity: 1;
  transform: rotate(-360deg);
}
