/* --theme-color-dark and --theme-color-light are used to set the html background-color */
:root {
  /* dark theme */
  --theme-color-dark-const: var(--dark-purple);
  --theme-color-dark: var(--theme-color-dark-const);
  --text-color-dark: var(--platinum);
  --text-color-emphasis-dark: #ffffff;
  --tag-text-rgb-dark: var(--aquamarine-rgb);
  --tag-text-color-dark: rgb(var(--tag-text-rgb-dark));
  --glow-color-dark: var(--canary);
  /* light theme */
  --theme-color-light-const: var(--ghost-white);
  --theme-color-light: var(--theme-color-light-const);
  --text-color-light: var(--eerie-black);
  --text-color-emphasis-light: #000000;
  --tag-text-rgb-light: var(--risd-blue-rgb);
  --tag-text-color-light: rgb(var(--tag-text-rgb-light));
  --glow-color-light: #ffffff;
}

/* dark mode (default) */
:root {
  --theme-color: var(--theme-color-dark);
  --theme-color-const: var(--theme-color-dark-const);
  --text-color: var(--text-color-dark);
  --text-color-emphasis: var(--text-color-emphasis-dark);
  --text-color-overlay: var(--platinum-overlay);
  --contrast-color: var(--eerie-black);
  --opacity-dark: 1;
  --opacity-light: 0;
  --theme-toggle-transform: translateX(3rem);
  --tag-backdrop-color: transparent;
  --backdrop-color-header: #ffffff66;
  --backdrop-color-main: #ffffff66;
  --drop-shadow: rgba(255, 255, 255, 0.4);
  --tag-text-rgb: var(--tag-text-rgb-dark);
  --tag-color: rgba(0, 230, 230, 0.1);
  --tag-text-color: var(--tag-text-color-dark);
  --highlight-color: rgba(var(--tag-text-rgb-dark), 0.9);
  --highlight-text-color: #000000;
  --glow-color: var(--glow-color-dark);
  --glow-shadow: var(--glow-color);
  --menu-background-color: #111111aa;
  --menu-background-color-hover: #111111ee;
}

/* light mode */
html[data-theme='light'],
#theme-toggle:checked ~ .theme {
  --theme-color: var(--theme-color-light);
  --theme-color-const: var(--theme-color-light-const);
  --text-color: var(--text-color-light);
  --text-color-emphasis: var(--text-color-emphasis-light);
  --text-color-overlay: var(--eerie-black-overlay);
  --contrast-color: rgb(252, 253, 254);
  --opacity-dark: 0;
  --opacity-light: 1;
  --theme-toggle-transform: translateX(0);
  --tag-backdrop-color: #ffffff66;
  --backdrop-color-header: #ffffff55;
  --backdrop-color-main: #8400ff77;
  --drop-shadow: rgba(0, 0, 0, 0.6);
  --tag-text-rgb: var(--tag-text-rgb-light);
  --tag-color: rgba(0, 21, 255, 0.1);
  --tag-text-color: var(--tag-text-color-light);
  --highlight-color: rgba(var(--tag-text-rgb-light), 0.8);
  --highlight-text-color: #ffffff;
  --glow-color: var(--glow-color-light);
  --glow-shadow: var(--magenta);
  --menu-background-color: #cccccc99;
  --menu-background-color-hover: #dddddddd;
}

.theme {
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: 'Inter';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400; /* Use a value from 100 to 900 */
  text-rendering: optimizeLegibility;
}

/* menu is closed by default */
:root {
  --opacity-open: 1;
  --opacity-closed: 0;
  --collapsible-nav-height: 0;
  --nav-link-height: calc(
    var(--padding-x2) + (var(--line-height-normal) * 1rem)
  );
}
/* menu is open */
#menu-toggle:checked ~ .menu {
  --opacity-open: 0;
  --opacity-closed: 1;
  --collapsible-nav-height: calc-size(auto, size);
}

a,
svg {
  color: var(--text-color);
}

/* inputs are hidden, use the input labels instead */
#theme-toggle,
#menu-toggle {
  display: none;
}

::selection {
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
  opacity: 1;
}

/* single column layout */
@media screen and (max-width: 1199px) {
  /* --theme-color-dark and --theme-color-light are used to set the html background-color */
  :root {
    --theme-color-dark: var(--licorice);
    --theme-color-light: var(--chocolate-cosmos);
  }
}
