.theme-toggle {
  align-items: center;
  border-radius: var(--icon-size);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  position: relative;
  transform-style: preserve-3d;
}

.theme-toggle-icon.glow-icon {
  display: flex;
}
.theme-toggle-icon::before,
.theme-toggle-icon::after {
  border-radius: inherit;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0.9);
  transition: box-shadow 0.3s linear;
}

.theme-toggle .icon-sun {
  z-index: 1;
}
.theme-toggle .icon-moon {
  z-index: 1;
}

.theme-toggle .icon-sun::before {
  transition:
    color 0.1s ease-in,
    text-shadow 0.3s linear;
}
.theme-toggle .icon-moon::before {
  transition:
    color 0.1s ease-in,
    text-shadow 0.3s linear;
}

.theme-toggle .theme-toggle-inset {
  background-color: transparent;
  border-radius: var(--icon-size);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: box-shadow 0.3s linear;
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .glow-icon.theme-toggle-icon {
    background-color: unset;
  }

  .icon-sun,
  .icon-moon {
    border-radius: inherit;
    bottom: 0;
    color: var(--text-color-emphasis-dark);
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .icon-sun {
    opacity: var(--opacity-dark);
  }
  .icon-moon {
    opacity: var(--opacity-light);
  }

  .theme-toggle-inset {
    display: none;
  }

  .glow-icon-clickable.theme-toggle {
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: var(--icon-height);
    padding: var(--icon-padding);
    width: var(--icon-height);
  }
  .theme-toggle .theme-toggle-icon {
    border-radius: inherit;
    display: flex;
    height: var(--icon-size);
    width: var(--icon-size);
  }

  .theme-toggle-icon.glow-icon::after {
    background-color: unset;
  }

  .theme-toggle-icon.glow-icon::before {
    background-color: var(--button-background-color);
    opacity: 0;
    transform: none;
    transition: opacity 0.2s linear;
  }
  .theme-toggle:hover .theme-toggle-icon.glow-icon::before {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .theme-toggle-icon.glow-icon {
    aspect-ratio: 2;
  }

  .glow-icon.icon-sun,
  .glow-icon.icon-moon {
    background-color: var(--button-background-color);
    background-color: none;
  }

  .theme-toggle-icon::before,
  .theme-toggle-icon::after {
    background-color: var(--glow-color);
  }

  .theme-toggle .icon-sun {
    background-color: var(--sun-background-color);
    border-bottom-left-radius: var(--icon-size);
    border-top-left-radius: var(--icon-size);
  }

  .theme-toggle .icon-moon {
    background-color: var(--moon-background-color);
    border-bottom-right-radius: var(--icon-size);
    border-top-right-radius: var(--icon-size);
  }

  .theme-toggle:hover .theme-toggle-icon::before {
    box-shadow: 0 0 5px var(--glow-shadow-color);
    transform: scaleX(1.05) scaleY(1.1);
  }
  .theme-toggle:hover .theme-toggle-icon::after {
    box-shadow: 0 0 12px var(--glow-shadow-color);
    transform: scaleX(1.05) scaleY(1.1);
  }

  .theme-toggle:hover .theme-toggle-inset {
    box-shadow: inset 0 0 5px var(--glow-shadow-color);
  }

  .theme-toggle:hover .icon-sun::before {
    color: var(--sun-hover-color);
    text-shadow: 0 0 5px var(--sun-shadow-color);
  }
  .theme-toggle:hover .icon-moon::before {
    color: var(--moon-hover-color);
    text-shadow: 0 0 5px var(--moon-shadow-color);
  }

  .theme-toggle .icon-sun::before {
    color: var(--sun-color);
  }
  .theme-toggle .icon-moon::before {
    color: var(--moon-color);
  }
}
