:root {
  --theme-color: #202127;
  --text-color: #d7dadc;
  --card-color: #2e2e33;
  --header-footer-color: #16181d;
  --cyan: #00ffff;
  --magenta: #ff00ff;
  --yellow: #ffff00;
}

html[data-theme='light'],
#theme-toggle:checked ~ .theme {
  --theme-color: #d7dadc;
  --text-color: #202127;
  --card-color: #ffffff;
  --header-footer-color: #a1a5a7;
  --cyan: #00ffff;
  --magenta: #b200b2;
  --yellow: #ffff00;
}

.theme {
  background-color: var(--theme-color);
}

#theme-toggle {
  display: none;
  margin: 0;
  padding: 0;
}

#sun,
#moon {
  transform: rotate(-360deg);
}
#theme-toggle:checked ~ .theme :is(#sun, #moon) {
  transform: rotate(45deg);
}
#sun,
#theme-toggle:checked ~ .theme #moon {
  opacity: 0;
}
#moon,
#theme-toggle:checked ~ .theme #sun {
  opacity: 1;
}

.theme,
.header,
.footer,
.card,
#sun,
#moon,
.theme-toggle-label {
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}
.theme,
.header,
.footer,
.card {
  transition-property: background-color;
}
#sun,
#moon,
.theme-toggle-label {
  transition-property: transform, opacity;
}
