* {
  background-color:  #272822;
  /* border: 1px solid white; */
}

.grid {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.grid-item {
  margin: 0.3rem;
}

.headshot {
  opacity: 0.8;
  border-radius: 0.9rem;
  background-color: black;
  max-height: 300px;
  max-width: 100%;
}

@media(min-width: 400px) {
  .headshot {
    max-width: 370px;
  }
}

.about-me-blurb {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  opacity: 0.5;
  text-align: left;
}

.footer {
  align-self: flex-end;
  text-align: center;
}

.social-icon {
  width: 2rem;
  padding: 0 0.2rem 0 0.2rem;
  opacity: 0.5;
  align-self: flex-end;
}

@media(max-width: 400px) {
  .social-icon {
    width: 10%;
  }
}

.social-link {
  text-decoration: none;
}
