body,
html,
.theme-container,
.body {
  display: grid;
  position: relative;
  min-height: 100vh;
  --min-page-width: 300px;
  min-width: var(--min-page-width);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  background-attachment: scroll;
}
